

.navigation {
	height: 50px;
}

body {
	font-family: 'Proza Libre', sans-serif;
	margin: 0px;
	margin-top: -17px;
}

.contest-container {
	height: 500px;
}

.contest-table-container {
	margin-top: 45px;	
}

.contest-table, .single-contest-table, .active-contest-table, .leaderboard-table, .transactions-table {
	margin: 0 auto;
	width: 60%;
	border: 2.5px solid #E8130C;
	padding-bottom: 15px;
}

.make-your-own {
	margin: 0 auto;
}

.descriptor {
}

.contest-left {
	float: left;
	height: 50px;
	width: 50%;
}

.contest-right {
	float: right;
	height: 50px;
	width: 40%;
	margin-left: 75px;

}

.main-left-right-container {
	width: 90%;
	margin: 0 auto;
}

.navbar li {
	display: inline;
	float: left;
	width: 16.5%;
}

.navbar li a {
	color: white;
	font-size: 30px;
	font-weight: bold;
}

a {
	color: black;
	text-decoration: none;
}

.navbar {
	width: 100%;
}

.navigation {
	background-color: #FF0000;
	color: white;
}

.stocks, .history, .leader-board {
	display: inline;
	border: solid;
	border-width: 2px 2px 2px 2px;
	padding: 3px;
}
.stocks, .history, .leader-board:hover {
	cursor: pointer;
}

.company-name, .share-number, .current-value {
	margin: 0 auto;
}

.single-contest-table {
	width: 100%;
}

.single-contest-table-row {
	width: 100%;
}

.rowdata {
	width: 33%;
}

.sorters {
	margin-bottom: 20px;
}

.transactions-table {
	width: 100%;
}

.transaction-contest-table-row {
	width: 100%;
}

@media (max-width: 865px) {
  .contest-left {
    width: 45%;
    margin-left: -20px;
  }
}

.hidden {
	display: none;
}

.open {
	display: inline;
}

.active-contest-table {
	margin: 0 auto;
	width: 45%;
}


.toggle-div-shown {
	height: 200px;
	width: 200px;
}

.toggle-div-hidden {
	height: 200px;
	width: 200px;
}


input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 50%;
}


.active-hover:hover {
	cursor: pointer;
	text-decoration: underline;
	color: #f44336;
}

button {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

tr {
	text-align: center;
}

.logo img {
	width: 80px;
}

.funds-title, .funds-amount {
	text-align: center;
	font-size: 6.0rem;
}

button:hover {
	cursor: pointer;
}

.contest-table-title {
	font-size: 3rem;
	text-align: center;
}

.active-contest-intro {
	text-align: center;
	font-size: 5.0rem;
}

.history-table-title {
	font-size: 5.0rem;
	text-align: center;
}

th {
    color: #f44336;
    line-height: 41.5px;
}

tbody {
	border-collapse: collapse;
}

.button-space {
	background-color: white;
}





.submitButton, .close-modal-button {
	background-color: #f44336;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 117px;
    margin-bottom: 5px;
}

.register-redirect:hover {
	cursor: pointer;
	text-decoration: underline;
	color: #f44336;
}

.register-redirect {
	text-align: center;
}

.main-login-div, .main-register-div {
	width: 50%;
	margin: 0 auto;
	border: 2.5px solid #E8130C;
	padding-bottom: 15px;
	padding-top: 15px;
	border-radius: 20px;
	margin-top: 50px;
}

.auth-div {
	text-align: center;
}

.button-container {
	width: 100%;
}

.btn.btn-primary {
	width: 130px;
	margin: 25px auto;
	display: block;
}

.auth-labels {
	font-size: 3.0rem;
}

.form-table {
	margin-top: 0px;
}

.searchYieldInput {
	text-align: center;
	    margin: 0 auto;
	    display: block;
}

.commit {
	margin-left: 58px;
    margin-bottom: 15px;
}

.create-contest-button {
	margin-left: 20px;
}

.descriptor {
	margin-left: 30px;
}





